# Dia 1 - Leitura e manipulação de dados nulos, duplicados e colunas de tipos de dados erradas

In [61]:
# Utilizarei a biblioteca Glob para manipulação de arquivos
import pandas as pd
import glob

In [62]:
# Recuperar todos os Paths dos arquivos .csv da pasta "Datasets/dados_emprestimos" e salvar na variavel "arquivos_csv"
arquivos_emprestimos = glob.glob("Datasets/dados_emprestimos/*.csv")
arquivos_emprestimos

['Datasets/dados_emprestimos\\emprestimos-20101.csv',
 'Datasets/dados_emprestimos\\emprestimos-20102.csv',
 'Datasets/dados_emprestimos\\emprestimos-20111.csv',
 'Datasets/dados_emprestimos\\emprestimos-20112.csv',
 'Datasets/dados_emprestimos\\emprestimos-20121.csv',
 'Datasets/dados_emprestimos\\emprestimos-20122.csv',
 'Datasets/dados_emprestimos\\emprestimos-20131.csv',
 'Datasets/dados_emprestimos\\emprestimos-20132.csv',
 'Datasets/dados_emprestimos\\emprestimos-20141.csv',
 'Datasets/dados_emprestimos\\emprestimos-20142.csv',
 'Datasets/dados_emprestimos\\emprestimos-20151.csv',
 'Datasets/dados_emprestimos\\emprestimos-20152.csv',
 'Datasets/dados_emprestimos\\emprestimos-20161.csv',
 'Datasets/dados_emprestimos\\emprestimos-20162.csv',
 'Datasets/dados_emprestimos\\emprestimos-20171.csv',
 'Datasets/dados_emprestimos\\emprestimos-20172.csv',
 'Datasets/dados_emprestimos\\emprestimos-20181.csv',
 'Datasets/dados_emprestimos\\emprestimos-20182.csv',
 'Datasets/dados_emprestimos\\emprestimos-20191.csv',
 'Datasets/dados_emprestimos\\emprestimos-20192.csv',
 'Datasets/dados_emprestimos\\emprestimos-20201.csv']

In [63]:
# Criar um DataFrame e concatenar todos os dados dos arquivos recuperados da variavel "arquivos_csv"
df_emprestimos = pd.concat([pd.read_csv(arq) for arq in arquivos_emprestimos],ignore_index=True)
df_emprestimos.head(10)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
5,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
6,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
7,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
8,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO
9,709689,L157395,2010/01/19 15:59:26.447000000,2010/01/04 08:27:33.596000000,2010/02/03 13:06:43.125000000,2.009046e+09,ALUNO DE GRADUAÇÃO

In [64]:
# Criar um DataFrame para ler o arquivo .parquet
df_exemplares = pd.read_parquet('Datasets/dados_exemplares.parquet',engine='fastparquet')
df_exemplares.head(10)

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15
7,13,L000924,Dissertações,Biblioteca Central Zila Mamede,REGULAR,651,18
8,12,L000056,Dissertações,Biblioteca Central Zila Mamede,NÃO CIRCULA,647,18
12,19,L116810_23/09/2020 00:01:33,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,661,32
13,20,L000088,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,683,33
14,21,L117745,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,655,35

In [65]:
# Criei um DataFrame completo mesclando as duas principais DFs
df_completo = pd.merge(df_emprestimos, df_exemplares, on='codigo_barras', how='inner')
df_completo

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072553,2989086,2008047044,NaN,2020/05/05 19:51:06.059000000,2021/05/13 14:53:31.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256297,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,684,110098
2072554,2989087,2008047047,NaN,2020/05/05 19:51:06.135000000,2021/05/13 14:53:38.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,256406,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,628,110171
2072555,2989088,2010052905,NaN,2020/05/05 19:51:06.164000000,2021/05/13 15:01:46.000000000,3.067431e+06,SERVIDOR TÉCNICO-ADMINISTRATIVO,807821,Acervo Circulante,Biblioteca Setorial da Faculdade de Ciências d...,REGULAR,653,134173
2072556,2989089,2010048023,NaN,2020/06/09 11:54:02.669000000,2021/07/21 15:33:55.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,804885,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,675,67712
2072557,2989090,2013106838,NaN,2020/06/09 11:54:02.852000000,2021/07/21 15:33:45.000000000,2.020101e+10,ALUNO DE PÓS-GRADUAÇÃO,1099777,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,14,205153

In [66]:
# Criando uma copia do df_completo para manipular os dados 
df_completo_limpo = df_completo.copy()
df_completo_limpo.head()

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225

In [67]:
# Entender melhor as colunas do Dataframe "df_completo"
df_completo_limpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072558 entries, 0 to 2072557
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
 7   id_exemplar           int64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           int64
 12  registro_sistema      int64
dtypes: float64(1), int64(4), object(8)
memory usage: 205.6+ MB

In [68]:
# Transformar colunas Object em Data
df_completo_limpo['data_renovacao'] = pd.to_datetime(df_completo_limpo['data_renovacao'])
df_completo_limpo['data_emprestimo'] = pd.to_datetime(df_completo_limpo['data_emprestimo'])
df_completo_limpo['data_devolucao'] = pd.to_datetime(df_completo_limpo['data_devolucao'])
df_completo_limpo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2072558 entries, 0 to 2072557
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        datetime64[ns]
 3   data_emprestimo       datetime64[ns]
 4   data_devolucao        datetime64[ns]
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
 7   id_exemplar           int64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           int64
 12  registro_sistema      int64
dtypes: datetime64[ns](3), float64(1), int64(4), object(5)
memory usage: 205.6+ MB

In [69]:
# Verificar os campos nulos
df_completo.isnull().sum()

id_emprestimo                 0
codigo_barras                 0
data_renovacao          1162088
data_emprestimo               0
data_devolucao             6178
matricula_ou_siape         2893
tipo_vinculo_usuario          0
id_exemplar                   0
colecao                       0
biblioteca                    0
status_material               0
localizacao                   0
registro_sistema              0
dtype: int64

In [70]:
# Verificar e tratar os valores nulos - pensei em deixar a data em 1900 para aqueles que não foram entregues, nem devolvidos
df_completo_limpo = df_completo_limpo.dropna(subset='matricula_ou_siape')
df_completo_limpo['data_renovacao'] = df_completo_limpo['data_renovacao'].fillna(pd.Timestamp('1900-01-01'))
df_completo_limpo['data_devolucao'] = df_completo_limpo['data_devolucao'].fillna(pd.Timestamp('1900-01-01'))
df_completo_limpo.isnull().sum()

id_emprestimo           0
codigo_barras           0
data_renovacao          0
data_emprestimo         0
data_devolucao          0
matricula_ou_siape      0
tipo_vinculo_usuario    0
id_exemplar             0
colecao                 0
biblioteca              0
status_material         0
localizacao             0
registro_sistema        0
dtype: int64

In [71]:
# Verificar dados duplicados
df_completo_limpo.duplicated()

0          False
1          False
2          False
3          False
4           True
           ...
2072553    False
2072554    False
2072555    False
2072556    False
2072557    False
Length: 2069665, dtype: bool

In [72]:
#  Tratar dados duplicados
df_emprestimos_limpo = df_emprestimos.drop_duplicates().reset_index()
df_emprestimos_limpo.head(10)

,index,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario
0,0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO
1,1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO
2,2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO
3,3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO
4,8,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO
5,9,709689,L157395,2010/01/19 15:59:26.447000000,2010/01/04 08:27:33.596000000,2010/02/03 13:06:43.125000000,2.009046e+09,ALUNO DE GRADUAÇÃO
6,10,709690,2007019312,NaN,2010/01/04 08:49:57.857000000,2010/01/13 09:58:25.443000000,2.007014e+08,ALUNO DE GRADUAÇÃO
7,11,709691,2008046357,2010/01/19 11:50:13.404000000,2010/01/04 09:02:30.576000000,2010/02/02 12:13:36.132000000,2.005075e+08,ALUNO DE GRADUAÇÃO
8,12,709692,L187962,NaN,2010/01/04 09:07:06.131000000,2010/06/22 18:55:04.000000000,2.004044e+08,ALUNO DE GRADUAÇÃO
9,13,709693,L192776,NaN,2010/01/04 09:07:06.159000000,2010/06/22 18:54:46.000000000,2.004044e+08,ALUNO DE GRADUAÇÃO

In [ ]:
# Visualização Final
df_completo_limpo.head()

(2069665, 13)

In [80]:
# Fim do dia 1 e criação do arquivo de resultado (reduzido para não ficar muito grande no GitHub)
df_completo_limpo.head(150000).to_csv('./Datasets/dados_resultados/dia-1.csv',index=False)